@model IEnumerable<ProGame.Models.Game>

@{
    ViewData["Title"] = "Index";
}
<style>
    h1 {
        color: black;
    }
    body {
        background-color: pink;
    }
    p{
        color: black;
    }
    input[type="text"]:focus {
        width: 300px;
        background-color: greenyellow;
    }
</style>


<h1>Games</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="games" asp-action="Index">
    <p>
        Game: <input type="text" name="SearchString" placeholder="Search ..." />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>

}
    </tbody>
</table>
